@import "@/styles/vars";

.button {
  border-radius: 24px;
  padding: 3px;
  border: 2px solid;
  color: $blue;

  &.disabled {
    opacity: 0.4;
  }
}

button.inner {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 20px;
  width: 100%;
  transition: all 350ms ease;
  font-family: "Fira Sans";
  font-weight: bold;
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
  text-transform: uppercase;
}
