[contenteditable] {
  font-family: "Merriweather";
  margin: auto;
  max-width: 830px;
  color: $white;
  padding-top: 80px;
  padding-bottom: 80px;

  h1 {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-size: 3.5rem;
    color: #fff;
    &::after {
      content: " ";
      display: block;
      background-image: linear-gradient(146deg, $brightBlue, $brightPurple);
      height: 8px;
      border-radius: 3px;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }

  h1,
  h2 {
    font-family: "Averia Serif Libre";
    margin-top: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p,
  div,
  blockquote {
    text-align: justify;
    hyphens: auto;
    text-indent: 4rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    margin: 1.1rem;
    transition: all 500ms ease;
  }

  p:hover {
    color: #fff;
  }

  blockquote {
    color: #858585;
  }

  div.signet {
    color: #e34eff;
    font-weight: bold;
  }

  div.scene {
    color: #eda634;
    font-weight: bold;
  }

  div.end {
    color: #858585;
    font-weight: bold;
  }

  div.todo {
    font-weight: bold;
    color: #219eff;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}
