[contenteditable] {
  font-family: "Charter";
  margin: auto;
  max-width: 830px;
  padding-top: 80px;
  padding-bottom: 80px;

  h1 {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;
  }

  h1,
  h2 {
    font-family: "Astonia";
    margin-top: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p,
  div,
  blockquote {
    font-size: 24px;
    line-height: 48px;
    margin: 1.1rem;
    transition: all 500ms ease;
    margin-bottom: 2.5rem;
  }

  blockquote {
    color: #858585;
  }

  div.signet {
    color: #e34eff;
    font-weight: bold;
  }

  div.scene {
    color: #eda634;
    font-weight: bold;
  }

  div.end {
    color: #858585;
    font-weight: bold;
  }

  div.todo {
    font-weight: bold;
    color: #219eff;
  }
}
