@import "@/Styles/Vars";

.timeline {
  position: relative;
  margin: auto;

  .band {
    width: 8px;
    border-radius: 4px;
    height: 800px;
    background-image: linear-gradient(180deg, $pink 0%, $blue 100%);
  }
}
