@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:ital,wght@0,400;0,600;1,400;1,600&family=Source+Sans+Pro:wght@300;400;700&display=swap");
@font-face {
  font-family: Astonia;
  src: url("/Astonia.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Styles/Vars.scss";

html,
body,
#root {
  min-height: 100%;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@import "./Styles/Input.scss";
@import "./Styles/Editor.scss";
